@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://weloveiconfonts.com/api/?family=typicons);
@import url(http://weloveiconfonts.com/api/?family=brandico);
@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="typicons-"]:before {
    font-family: 'typicons', sans-serif;
    color: white;
    font-size: 25px;
}
[class*="fontawesome-"]:before {
    font-family: 'fontawesome', sans-serif;
    font-size: 20px;
    color: white;

}
[class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;
    color: white;
    font-size: 25px;
    
}
#img1{
    height:30%;/*25*/
    width:70%;/*15*/
}
.div1{
    background-color: #2c3037;
    width:96%;
    margin-left: 2%;
}
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
    color: white;
    font-size: 25px;
}
.contents{
    position: relative;
}
.a {
    float: right;
    padding-right: 10%;
    padding-top: 8%;
}
p{
    font-weight: 700;
    font-size:40px;
    border: 7px solid lightblue;
    color:white;
    width: 15%;
    padding: 2%;
    position: absolute;
    top: 30%;
    left: 20%;
}
.text1{
    color:lightgray;
    font-size: 15px;
    float: right;
}
.arrow{
    float: left;
   padding-top: 15%;
   padding-left: 5%;
}
.arrow-right{
    float: right;
   padding-top: 15%;
   padding-right: 5%;
}
sup{
    color: #7BB5C7;
}
img{
    height:325px;
    width:300px;
}
.menu{
    font-size: 20px;
    color: white;
    float: right;
    margin-right: 5%;
    margin-top: 1%;
    padding-left: 8%;
}
.ten{
    font-family: system-ui;
    font-size: 20px;
    color: white;
    padding-left:8%;
    font-weight: 700;
}
.container{
    width:90%;
    background-color: #434a53;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    
}
.footer{
    padding-left: 8%;

}
.footer-left{
    float: left;
}
.heading-footer:after{
    content: "";
    display: block;
    width: 10%;
    border-bottom:2px solid skyblue;
}
.heading-footer{
    font-size: 35px;
    font-weight: 700;
    color: white;
}
.email{
    background-color: #434a53;
    border-style: none;
    outline: none;
    

}
.learn-more:hover{
    background-color: lightblue;
    color:black;
}
.button-send{
    background-color: #599cb8;
    padding:10px;
    color:white;
    border-style: none;
    border-radius: 20px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right:25px;
    padding-top:10px;
}
.learn-more{
    background-color: #434a53;
    border: 1px solid white;
    outline: none;
    border-radius: 20px;
    color:white;
    padding:8px 13px 8px 13px;
}
.box{
    box-shadow:2px 2px 3px 3px;
    padding: 20px;
   
}
.con{
    font-weight: 700;
    font-size: 100px;
    color: lightblue;
}
.bottam-bor{
    border-bottom: 1px solid #2b2424;
    float: left;
    width:300px;
    
}
.box{
    padding-left: 35%;
    
}
.right-content-button{		
    color:white; 		
    background:#22272c; 		
    border:1px solid white;		
    outline: none;		
    padding:10px 35px 10px 25px;    	
    border-radius: 30px;    	
    margin:5px 0px 35px 5px;    	
    font-weight: bolder;	
}
.email-4-main{
	float:right; 
	background-color: #22272c;
	margin-right: 20%;
	padding: 2% 7% 0% 3%; 
	}
	.email-4-main-content{
	font-size:25px;
	color:white;
	font-weight: bolder;
}
.footer-right{
    background-color: #22262c;
    color: white;
    padding: 30px;
}
.contents{
    padding: 8% 0% 5% 13%;
}
.img{
   border: 0.5px solid black;
}
