.p1{
    position: relative;
    top: 10px;

}
.img1{
    height: 15%;
    width:50%;
}
.container{
    height: 90%;;
    width: 79%;
    border: 2px solid black;
    position: relative;
    top: 20px;
    left: 10%;
    padding: 20px;
    background-color: lightgray
}
@media only screen and (max-width: 800px) {
    body {
        background-color: lightblue;
        
    }
    .container{
        height: auto
    }

}
@media print {
    body{
        font-size: 20px;
    }
}
