@import url(http://weloveiconfonts.com/api/?family=brandico);
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* fontawesome */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
    color: #23272d;
    height: 5%;
  }
/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}
@media(max-width:678px){

        .container .menu{
         padding-top:13px;
        }
        .container .left-nav{
            float:none;
        }
        .container .image-grid{
           
            float:none;
            display: block;
            width:100%;
        }
        .container .footer-left-side{
            width: 100%;
            float: none;
        }
        .container .footer-right-side{
            width: 100%;
            float: none;
        }
        .container #email{
            width:90%;
            padding-bottom: 5px;
        }
        .container .button-send{
            margin-top: 15px;
        }
        
}
















.body-heading h1{
    font-size: 35px;
    padding: 0;
    margin:0px;
    padding-top: 2%;
    
}
.button-send{
    padding: 15px 30px 15px 30px;
    color:white;
    background-color: #599cb8;
    border: none;
    border-radius: 20px;
   
}
.footer-left-side #p1::after{
    content: "";
    display: block;
    width:20%;
    border-bottom: 1px solid lightblue;
}
.body-heading h1:after{
    content: "";
    display: block;
    width: 8%;
    border-bottom:1px solid skyblue;
 }
.body-heading span{
    font-size: 10px;
}

.body-heading h1 sup{
    font-size: 25px;
    color: lightblue;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #434a53;
    line-height: 1.5;
    margin:0;
    padding: 0;
}
ul li:hover{
    font-weight: 700;
    color: white;
}
.container{
    overflow: hidden;
    width: 80%;
    margin: auto;
}
.footer-left-side{
    color:white;
    width: 70%;
    float: left;
    margin-top:5%;
}
.button-get-in-touch{
    background: #23272d;
    border: 2px solid lightgray;
    color: white;
    padding: 15px 25px 15px 25px;
    border-radius: 25px;
}
.social p{
    color:lightgray;
    font-size:15px;
}
.social span{
    color:white;
    font-size:20px;
}
.footer-right-side{
    float: right;
    width:25%;
    margin-top:5%;
    padding: 2%;
    font-size: 35px;
    font-weight: 700;
    color: white;
}
button:hover{
   font-weight: bold;
}
.social span:hover{
    color:white;
   
    font-weight: 700;
}

.footer-right-side p{
    background-color: #23272d;
    padding: 15px 5px 15px 20px;
}
.footer-left-side #p1{
   font-size: 35px;
   font-weight: 700;
}
.footer-left-side .p2{
    font-size: 15px;
    color: lightgray;
 
 }

.footer-left-side #span1{
    font-size: 50px;
    font-weight: 700;
    color: lightblue;
}
.left-nav{
    float: left;
    width: 20%;
    margin-top:8%;
}
ul li{
    padding:5%;
}

#email{
    background-color: #434a53;
    outline: none;
    border:none;
    border-bottom: 2px solid #23272d;
    width:60%;
}
.image-grid img:hover{
box-shadow: 0px 0px 40px #000;
}
.logo{
    width:70%;
    float: left;
}
.p3{
    color: lightgray;
    font-size: 10px;
}
ul{
    list-style: none;
    display: inline;
    color: lightgray;
}
#heading{
    background-color: #23272d;
    color: white;
    padding-bottom: 2%;
}
.menu{
    float: right;
    padding-top:1.5%;
    font-weight: 700;
}
header{
    color: white;
    border: 1px solid black;
}
.logo span{
    font-size: 30px;
    color: lightblue;
}
.logo sup{
    font-size: 20px;
    font-weight: 100;
    color: lightblue;
}

.logo h1{
    padding: 0px;
    margin:0px;
    font-weight: 700;
    font-size: 25px;
}
.image-grid{
    margin-top:8%;
    float: right;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 2%;
    width:80%;
}
.image-grid .image{
   margin-top: 6%;
    width: 100%;
}


